.lenta { 
    display: inline-block;
    width: 80vmin;
    height: 80vmin;
    margin: 10vmin calc(50% - 45vmin);
    border: 2px solid black;
    float: left;
}
    .lenta > .eilutes {
        display: inline-block;
        width: 100%;
        float: left;
    }
    .lenta > .eilutes > .stulpeliai {
        display: inline-block;
        height: 100%;
        float: left;
    }
